{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Terms of Service" %}{% endblock %}
{% block page_title %}{% trans "Terms of Service" %}{% endblock %}

{% block body %}
    <h1>Terms of Service</h1>
	
	<div>
		<p>Welcome to our website.  By using our site, you are agreeing to comply with and be bound by the following terms of use.  Please review the following terms carefully.  If you do not agree to these terms, you should not use this site.  The term "PitsopPad" or "us" or "we" or "our" refers to PitstopPad, the owner of the Web site.  The term "you" refers to the user or viewer of our Web Site.</p>
		
		<h3>Acceptance of Agreement</h3>
		<p>You agree to the terms and conditions outlined in this Terms of Use Agreement ("Agreement") with respect to our site (the "Site").  This Agreement constitutes the entire and only agreement between us and you, and supersedes all prior or contemporaneous agreements, representations, warranties and understandings with respect to the Site, the content, products or services provided by or through the Site, and the subject matter of this Agreement.  This Agreement may be amended at any time by us from time to time without specific notice to you.  The latest Agreement will be posted on the Site, and you should review this Agreement prior to using the Site.</p>
		
		<h3>Copyright</h3>
		<p>The content, organization, graphics, design, compilation, magnetic translation, digital conversion and other matters related to the Site are protected under applicable copyrights, trademarks and other proprietary (including but not limited to intellectual property) rights.  The copying, redistribution, use or publication by you of any such matters or any part of the Site, except as allowed by Section 4 below, is strictly prohibited.  You do not acquire ownership rights to any content, document or other materials viewed through the Site.  The posting of information or materials on the Site does not constitute a waiver of any right in such information and materials.  Some of the content on the site is the copyrighted work of third parties.</p>
		
		<h3>Service Marks</h3>
		<p>"PitstopPad.com" and others are our service marks or registered service marks or trademarks.  Other product and company names mentioned on the Site may be trademarks of their respective owners.</p> 
		
		<h3>Limited License; Permitted Uses</h3>
		<p>You are granted a non-exclusive, non-transferable, revocable license (a) to access and use the Site strictly in accordance with this Agreement; (b) to use the Site solely for internal, personal, non-commercial purposes; and (c) to print out discrete information from the Site solely for internal, personal, non-commercial purposes and provided that you maintain all copyright and other policies contained therein.  No print out or electronic version of any part of the Site or its contents may be used by you in any litigation or arbitration matter whatsoever under any circumstances.</p>
		
		<h3>Restrictions and Prohibitions on Use</h3>
		<p>Your license for access and use of the Site and any information, materials or documents (collectively defined as "Content and Materials") therein are subject to the following restrictions and prohibitions on use: You may not (a) copy, print (except for the express limited purpose permitted by Section 4 above), republish, display, distribute, transmit, sell, rent, lease, loan or otherwise make available in any form or by any means all or any portion of the Site or any Content and Materials retrieved therefrom; (b) use the Site or any materials obtained from the Site to develop, of as a component of, any information, storage and retrieval system, database, information base, or similar resource (in any media now existing or hereafter developed), that is offered for commercial distribution of any kind, including through sale, license, lease, rental, subscription, or any other commercial distribution mechanism.</p>
		
		<h3>No Legal Advice or Attorney-Client Relationship</h3>
		<p>Information contained on or made available through the Site is not intended to and does not constitute legal advice, recommendations, mediation or counseling under any circumstance and no attorney-client relationship is formed.  We do not warrant or guarantee the accurateness, completeness, adequacy or currency of the information contained in or linked to the Site.  Your use of information on the Site or materials linked to the Site is entirely at your own risk.  We are not a law firm and the Site is not a lawyer referral service.</p>
		
		<h3>Linking to the Site</h3>
		<p>You may provide links to the Site, provided (a) that you do not remove or obscure, by framing or otherwise, advertisements, the copyright notice, or other notices on the Site, (b) your site does not engage in illegal or pornographic activities, and (c) you discontinue providing links to the Site immediately upon request by us.</p>
		
		<h3>Advertisers</h3>
		<p>The Site may contain advertising and sponsorships.  Advertisers and sponsors are responsible for ensuring that material submitted for inclusion on the Site is accurate and complies with applicable laws.</p>
		
		<h3>Disclaimer</h3>
		<p>THE INFORMATION, CONTENT AND DOCUMENTS FROM OR THROUGH THE SITE ARE PROVIDED &quot;AS-IS,&quot; &quot;AS AVAILABLE,&quot; WITH &quot;ALL FAULTS&quot;, AND ALL WARRANTIES, EXPRESS OR IMPLIED, ARE DISCLAIMED (INCLUDING BUT NOT LIMITED TO THE DISCLAIMER OF ANY IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR ANY PURPOSE)</p>
	</div>
{% endblock %}
