FACEBOOK_APP_ID = '197228753633353'
FACEBOOK_APP_SECRET = 'e6dbf5f3e3223ab25697f7cd2de413a0'

FACEBOOK_ACCESS_SETTINGS = {
        'FACEBOOK_APP_ID': FACEBOOK_APP_ID,
        'FACEBOOK_APP_SECRET': FACEBOOK_APP_SECRET,
        'LOG_LEVEL': 'DEBUG',
        'LOG_FILE': '/tmp/la_facebook.log',
        # The following keys are optional
        # TODO - Comment next line out but still have tests pass
        'CALLBACK': 'la_facebook.callbacks.default.default_facebook_callback', 
        #'PROVIDER_SCOPE': ['email','read_stream'], # here as sample - optional
}
