{% extends "site_base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Please Login" %}{% endblock %}
{% block page_title %}Please login to continue...{% endblock %}

{% block body %}
	{% if form.errors %}
	<p>Your username and password didn't match. Please try again.</p>
	{% endif %}
	
	<h3><a href="{% url la_facebook_login %}?next={{ next }}">Login with FaceBook</a></h3>
	
	<p>... or, as a dev, login with your username and password:</p>
	<div style="margin-left: 1em;">
		<form method="post" action="{% url login %}">
			{% csrf_token %}
			<table>
			<tr>
			    <td>{{ form.username.label_tag }}</td>
			    <td>{{ form.username }}</td>
			</tr>
			<tr>
			    <td>{{ form.password.label_tag }}</td>
			    <td>{{ form.password }}</td>
			</tr>
			</table>

			<input type="submit" value="login" />
			<input type="hidden" name="next" value="{{ next }}" />
		</form>
	</div>
{% endblock %}