{% extends "log/base.html" %} 
{% load i18n logs ajax html_helpers cache_buster units %}

{% block extra_head %}
{{ block.super }}
{% css_tag 'js/tablesorter/style.css' %}
{% css_tag 'css/datepicker.css' %}
{% endblock %}

{% block body %}
<div class="left width_50p">
	{% info_box_top %}
	<strong>{{log.user|title}}'s {{log.vehicle}} Maintenance Log</strong>
	{% info_box_bottom %}

	{% info_box_top %}
	<div style="margin-left: auto; margin-right: auto;">
		<h1>New Entry</h1>
		{# ugh... this is an ugly way to get the 'new_action', but whatever.... #}
		{% for form_dict in form_handler.forms.AddNewActionForm %}
			{% ifequal form_dict.form_id 'new_action' %}
				{% formhandler_form 'AddNewActionForm' form_dict 'handleAddNewResponse' %}
			{% endifequal %}
		{% endfor %}
	</div>
	{% info_box_bottom %}
</div>

<div class="right width_50p">
	{% if log %}
	<a href="{% url log_view log.user log.id %}">View this log</a>
	{% endif %}
	<table id="fillup_table" class="edit_table tablesorter" style="table-layout: fixed;">
		<caption>
			<div class="left" style="margin-top: .2em;">Fillup Actions</div>
			<div id="pager" class="pager right" style="padding: 0; margin: 0;">
				<form style="padding: 0; margin: 0;">
					<img src="{{ MEDIA_URL }}js/tablesorter/first.png" class="first"/>
					<img src="{{ MEDIA_URL }}js/tablesorter/prev.png" class="prev"/>
					<input type="text" class="pagedisplay" readonly size="5"/>
					<img src="{{ MEDIA_URL }}js/tablesorter/next.png" class="next"/>
					<img src="{{ MEDIA_URL }}js/tablesorter/last.png" class="last"/>
					<select class="pagesize">
						<option selected="selected"  value="10">10</option>
						<option value="20">20</option>
						<option value="30">30</option>
						<option value="40">40</option>
						<option value="50">50</option>
					</select>
				</form>
			</div>
			<div class="clearfix" />
		</caption>
		<thead>
			<tr>
				<th class="js_enabled_only" style="width: 4em;">&nbsp;</th>
				<th>Date</th>
				<th>{% ifequal request.distance_unit 0 %}Mileage{% else %}Mileage (km){% endifequal %}</th>
				<th>Tank {% ifequal request.distance_unit 0 %}Miles{% else %}Kilometers{% endifequal %}</th>
				<th>Tank {% ifequal request.volume_unit 0 %}Gallons{% else %}Liters{% endifequal %}</th>
				<th>{{ fuel_economy_units }}</th>
			</tr>
		</thead>
		<tbody>
			<tr class="expandable_head_row reference_row" style="display: none;">
				<td class="expandable_head js_enabled_only"></td>
				<td class="date"></td>
				<td class="mileage_quantity"></td>
				<td class="tank_distance"></td>
				<td class="fillup_volume"></td>
				<td class="economy"></td>
			</tr>
			{% for form_dict in form_handler.forms.FillupActionForm %}
			{% with form_dict.instance as action %}
			{% if action %}
			{% if action.id %}
			<tr class="expandable_head_row">
				<td class="expandable_head js_enabled_only"><span style="font-size: 65%;">&#9661;</span> Edit</td>
				<td class="date">{{action.date|date:"m/d/y"}}</td>
				<td class="mileage_quantity">{% ifequal request.distance_unit 0 %}{{action.mileage}}{% else %}{{action.mileage_km}}{% endifequal %}</td>
				<td class="tank_distance">{% ifequal request.distance_unit 0 %}{{action.miles|floatformat:2}}{% else %}{{action.kilometers|floatformat:2}}{% endifequal %}</td>
				<td class="fillup_volume">{% ifequal request.volume_unit 0 %}{{action.gallons|floatformat:2}}{% else %}{{action.liters|floatformat:2}}{% endifequal %}</td>
				<td class="economy">{{action.get_economy|floatformat:2}}</td>
			</tr>
			{% endif %}
			{% endif %}
			{% endwith %}
			<tr class="expand-child expandable_body js_disabled_only">
				<td colspan="6">
					{% formhandler_form 'FillupActionForm' form_dict 'updateActionRow' %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr class="table_summation">
				<td class="js_enabled_only"></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>30 mpg</td>
			</tr>
		</tfoot>
	</table>
</div>

{% endblock %}

{% block extra_body %}
{{ block.super }}
	{% js_tag 'js/jquery.form.js' %}
	{% js_tag 'js/jquery.color.js' %}
	{% js_tag 'js/tablesorter/jquery.tablesorter.mod.js' %}
	{% js_tag 'js/tablesorter/jquery.tablesorter.pager.js' %}
	{% js_tag 'js/tablesorter/jquery.tablesorter.collapsible.js' %}
	{% js_tag 'js/jquery.ui.datepicker.js' %}
	
	{% formhandler_head form_handler %}
	<script type="text/javascript">
		$(document).ready(function()
		{
			// hide the all of the element with class expandable_body
			$(".expandable_body").hide();
			// toggle the componenet with class expandable_body
			$(".expandable_head").click(function()
			{
				$(this).parent().next(".expandable_body").slideToggle("fast", function() {
					if ($(this).css("display") != "none") {
						// hack. slideToggle is setting display to "block"
						$(this).css("display", "table-row");
					}
				});
			});
			$(".tablesorter")
					.collapsible("td.collapsible", {
						collapse: true
					})
					.tablesorter({
						// set default sort column
						sortList:  [[1,1], [2,1]],
						// don't sort by first column
						headers: {0: {sorter: false}},
						// set the widgets being used - zebra stripping
						widgets: ['zebra'],
						onRenderHeader: function (){
							this.wrapInner("<span></span>");
						},
						debug: false,
					})
					.tablesorterPager({container: $("#pager"), positionFixed: false});
			$(".datepicker").datepicker();
		});
		function updateRow(row_node, data) {
			// can't change the date via this form, so don't update it (it's formatted in pythonese)
			delete data["date"];
			for (var index in data) {
				row_node.children("." + index).text(data[index]);
			}
			var economy = Math.round(parseFloat(data["tank_distance"]) / parseFloat(data["fillup_volume"]) * 100) / 100;
			row_node.children(".economy").text(economy);
			//var date = Math.round(parseFloat(data["tank_distance"]) / parseFloat(data["fillup_volume"]) * 100) / 100;
			//row_node.children(".economy").text(economy);
			
			var background = row_node.css("background-color");
			row_node.animate({ easing: "swing", backgroundColor: "green" }, "slow").animate({ easing: "swing", backgroundColor: background }, 3000);
		}
		function updateActionRow(response) {
			if (response["form_valid"]) {
				var form_id = "#" + response["form_class"] + "_" + response["form_id"];
				updateRow($(form_id).parent().parent().prev(".expandable_head_row"), response["cleaned_data"]);
				$(form_id).parent().parent().toggle("fast");
			}
		}
		function handleAddNewResponse(response) {
			if (response["extra_return_data"]) {
				var data = response["extra_return_data"];
				// fill-up
				if (data["fillup_volume"]) {
					var reference = $("#fillup_table .reference_row");
					var new_row = reference.clone().show().removeClass("reference_row");
					reference.after(new_row);
					
					updateRow(new_row, data);
					
					$("#fillup_table").trigger("update");
					var sorting = $("#fillup_table")[0].config.sortList;
					$("#fillup_table").trigger("sorton", [sorting]);
				}
			}
		}
	</script>

{% endblock %}
