{% extends "log/base.html" %} 

{% load i18n html_helpers %} 

{% block page_title %}{{log.vehicle}} - created by <a href="{% url profile_detail log.user %}">{{log.user}}</a> {% if can_edit %}(<a href="{% url log_edit log.id %}">edit</a>){% endif %}{% endblock %}
	
{% block body %}

{% info_box_top 'right' %}
	<div>Created <strong>{{log.created|date:"m/d/Y"}}</strong> by <a href={% url profile_detail log.user %}>{{log.user}}</a></div>
	<div>Last modified <strong>{{log.modified|date:"m/d/Y"}}</strong></div>
	{% if can_edit %}<div><strong><a href="{% url log_edit log.id %}">Edit Log</a></strong></div>{% endif %}
{% info_box_bottom %}
<div class="clearfix"></div>

<table class="log_list">
	<colgroup width="1"></colgroup>
	<colgroup width="1"></colgroup>
	<colgroup width="7"></colgroup>
	<colgroup width="1"></colgroup>
	<thead><tr>
		<th>Miles</th><th>Date</th><th>Description</th><th></th>
	</tr></thead>
{% for action in log.maintenanceaction_set.chronological %}
	<tr>
		<td>{{action.mileage}}</td>
		<td>{{action.date|date:"m/d/Y"}}</td>
		<td>{{action.description}}</td>
		<td><a href="{% url log_action_view log.user log.id action.id %}">View Details</a></td>
	</tr>
{% endfor %}
</table>

{% endblock %}
